.ImgCenter
{
    margin-bottom: 30px;
    
}
.ImgCenter .title{
    color:#fff;
    margin: 0;
    position:relative;
    bottom:100px;
    top: -100px;
    left:100px;
    text-shadow: 1px 1px 1px black;
  }
  .img-responsive {
    height: 500px;
    opacity: initial;
  }